Repository say-developer/core: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings=0, prettier --write

Set up build and sonar workflows
  .github/workflows/build.yml
  .github/workflows/sonar.yml
  sonar-project.properties
Due: none

Create custom entity mixin and class
  .github/workflows/sonar.yml
  package.json
  pnpm-lock.yaml
  src/component.ts
  src/custom-entity.ts
  src/index.ts
  src/mixins/custom-entity.mixin.ts
  src/mixins/index.ts
  src/types.ts
Due: eslint --max-warnings=0, prettier --write

feat: set up semantic release workflow
  .github/workflows/release.yml
  commitlint.config.js
  package.json
  pnpm-lock.yaml
Due: prettier --write

fix: change release workflow to pnpm
  .github/workflows/release.yml
Due: none

Notes added by 'git notes add'
  dd37bd3bb3cceb89eb1ba1ea451e44262f38a598
Due: none

fix: set access public in .npmrc
  .npmrc
Due: none

Notes added by 'git notes add'
  0e2673de7019d0f05ebfe423eeae64ee28bceef6
Due: none

fix: add build step in release workflow
  .github/workflows/release.yml
Due: none

Notes added by 'git notes add'
  2beae6ed16c43c0d22ee6f8a9f8c14f75f89e660
Due: none

Path conditions:
  eslint --max-warnings=0: any of: *.ts
  prettier --write: any of: *.{json,md}
